<body class = "body">
    <div class = "header">
        LOGIN
    </div>
    <app-auth-form> </app-auth-form>
        <button class = "btn" onClick = "Test()">Dark Mode Toggle</button>
        <script>
            function Test() {
                let element = document.body;
                element.classList.toggle("dark");
            }
        </script>
        <div class = "new-acc">
            <div class = "new-acc-msg">
                WHERE'S YOUR ACCOUNT!?
            </div>
            <button class = "btn" routerLink = '/acc/-1'>Create New Account</button>
        </div>
</body>
<router-outlet></router-outlet>
